certifi==2026.5.20
chardet==7.4.3
charset-normalizer==3.4.7
cssselect==1.4.0
ebooklib==0.20
idna==3.18
lxml==6.1.1
pyquery==2.0.1
pyside6==6.11.1
pyside6-addons==6.11.1
pyside6-essentials==6.11.1
requests==2.34.2
shiboken6==6.11.1
six==1.17.0
urllib3==2.7.0
